---
layout: base
title: Home
---
<!DOCTYPE html>

<header>
    <h1>Photos</h1>
</header>

<body>
    <h2>Navigation</h2>
    <ul>
        <li><a href = "index.html">Home</a></li>
        <li><a href = "aboutus.html">About Us</a></li>
    </ul>
    <h3>Description</h3>

</body>

<body>
    <ul>
        {% for photo in pexels.collections.collections -%}

	{% if photo.id == "xs9vlnz" -%}
	<li><a href="#Pumpkins">{{photo.title}}</a></li>
	{% endif -%}

	{% if photo.id != "xs9vlnz" -%}
	<li>{{photo.title}}</li>
	{% endif -%}
	
        {% endfor -%}
    </ul>

    <h4 id="Pumpkins">Pumpkins</h4>

    
      {% for photo in photos.xs9vlnz.media -%}
      <a href="/photos/{{photo.id}}"><img src="{{photo.src.original}}" alt="{{photo.alt}}" width="300" height="300">
      {% endfor-%}
    
    
</body>

<footer>
    <hr>
    <p>
        <small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </p>
</footer>

<style>
 
</style>
